@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background-color: #f3f3f3;
}
header {
  width: 100%;
  height: 100px;
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
.logo img {
  width: 80px;
  height: 80px;
}
.fa-bars {
  display: none;
}
.navbar ul {
  display: flex;
  list-style: none;
}
.navbar ul li a {
  display: block;
  color: #333;
  font-size: 20px;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
  font-weight: 500;
}

.navbar ul li a:hover {
  color: #333;
  background-color: white;
}

/* HOME SECTION */
.home {
  width: 100%;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.content .textBox {
  width: 100%;
  padding: 50px;
  margin: 0 auto;
}
.content .textBox h2 {
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 700;
}
.content .textBox h2 span {
  color: #fa795e;
  font-size: 1.2em;
  font-weight: 900;
}
.content .textBox p {
  color: #333;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}
.content .textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 20px;
  background-color: #fa795e;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 40px;
}
.content .textBox a:hover {
  opacity: 0.6;
}
.content .imageBox {
  width: 50%;
}
.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fa795e;
  clip-path: circle(700px at right 1000px);
}

.line {
  width: 250px;
  height: 4px;
  background-color: #fc036b;
  margin: 10px auto;
  border-radius: 5px;
  margin-bottom: 50px;
}
.title h1 {
  text-align: center;
  font-size: 4rem;
  color: orangered;
  margin-top: 80px;
}

/* Promotion SECTION */

.products .product-slider {
  padding: 1rem;
}

.products .product-slider:first-child {
  margin-bottom: 2rem;
}

.products .product-slider .box {
  background: #fff;
  border-radius: 0.5rem;
  text-align: center;
  padding: 3rem 2rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.2s linear;
}

.products .product-slider .box:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -8px);
}

.products .product-slider .box img {
  height: 10rem;
}

.products .product-slider .box h3 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}
.products .product-slider .box p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}

.products .product-slider .box .price {
  font-size: 2rem;
  color: #333;
  padding: 0.5rem 0;
}

/* REVIEW SECTION */
.review .review-slider {
  padding: 1rem;
  margin-top: 8rem;
}

.review .review-slider .box {
  background: #fff;
  border-radius: 0.5rem;
  text-align: center;
  padding: 1rem 1rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.2s linear;
}

.review .review-slider .box:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -8px);
}

.review .review-slider .box img {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}

.review .review-slider .box p {
  padding: 1rem 0;
  line-height: 1.8;
  color: black;
  font-size: 1rem;
}

.review .review-slider .box h3 {
  padding-bottom: 0.5rem;
  color: black;
  font-size: 2rem;
}

.review .review-slider .box .stars i {
  color: orange;
  font-size: 1.5rem;
}

/* 
FOOTER section */

/* MOBILE */

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 900px) {
  .home {
    width: 100%;
    background-size: cover;
  }
  .content {
    flex-direction: column;
  }
  .content .textBox h2 {
    font-size: 2.5rem;
  }
  .content .textBox h2 span {
    font-size: 1.8rem;
  }
  .content .textBox p {
    font-size: 1rem;
  }
  .content .imageBox {
    width: 100%;
  }
  .circle {
    top: 29rem;
    clip-path: circle(700px at right 800px);
  }
  .fa-bars {
    display: block;
    cursor: pointer;
    font-size: 30px;
  }
  .navbar {
    height: 0px;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: orange;
    transition: 0.2s;
    overflow: hidden;
  }
  .navbar.active {
    height: 450px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    z-index: 1;
  }
  .navbar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .navbar.active ul {
    opacity: 1;
  }
  .navbar ul li a {
    margin-bottom: 12px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 400px) {
  .home {
    width: 100%;
    background-size: cover;
  }
  .content {
    flex-direction: column;
  }
  .content .textBox h2 {
    font-size: 2.5rem;
  }
  .content .textBox h2 span {
    font-size: 1.8rem;
  }
  .content .textBox p {
    font-size: 1rem;
  }
  .content .imageBox {
    width: 100%;
  }
  .imageBox .main-product {
    width: 350px;
    margin-left: 30px;
  }
  .circle {
    top: 29rem;
    clip-path: circle(700px at right 800px);
  }
  .fa-bars {
    display: block;
    cursor: pointer;
    font-size: 30px;
  }
  .navbar {
    height: 0px;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: orange;
    transition: 0.2s;
    overflow: hidden;
  }
  .navbar.active {
    height: 450px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    z-index: 1;
  }
  .navbar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .navbar.active ul {
    opacity: 1;
  }
  .navbar ul li a {
    margin-bottom: 12px;
    cursor: pointer;
  }
}
